@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Nunito Sans';
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.root{
  --ash: hsla(216, 38%, 97%, 1);
  --purple:#575DA6;
  --text-color:#2F2E41;
  --medium-pill:#FFF9EE;
  --urgent-pill:#FFEEEE;
  --normal-pill:#2ffc73;
  --edit:#575DA6;
  --delete:#F9265F;
  --shade:#F6F8FB;
}
.tabs .nav-item{
  padding: 1px;
  margin-bottom: 3px;
}
.nav-item a{
  border: 1px solid #EDEEF4;
  padding: 10px 30px 10px 30px;
  border-bottom: none;
  background-color: #FFFFFF;
  margin-left: -2px;
  border-bottom-color: rgb(237, 238, 244);
  border-top-right-radius: 20px;
  border-top-left-radius: 10px;
  transform: skewX(33deg);
  position: relative;
}
.row-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
.bold{
  font-weight: 900;
}
.all{
  background-color:#eaebec;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}
ul li a{
  color: #707884;
  font-weight: 600;
}
.active{
  color: #333CBF;
}
img{
  object-fit: cover;
  width: 100%;
}
.second-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.second-header div{
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.second-header div img{
  width: 12px;
  display: flex;
  align-self: center;
}
.second-header .people img{
  width: 40px;
  position: relative;
  top: -6px;
}
.second-header .social{
  background-color: #FFFFFF;
  margin-right: 5px;
  position: relative;
  top: -2px;
  display: flex;
  justify-content: space-around;
  width: 120px;
  height: 25px;
  border-radius: 5px;
}
.second-header .interface{
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 3px;
  position: relative;
  top: -2px;
}
.second-header .social p{
  position: relative;
  top: 10px;
  font-size: 12px;
}
.row-content {
  margin:0px auto;
  padding: 30px 0px 30px 0px;
}
select{
  border:1px solid rgb(121, 120, 120);
  border-radius: 5px;
  text-indent: 5px;
  padding: 5px;
}
.input{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.input i{
  position: relative;
  left: 30px;
}
.input input{
  background-color:#F6F8FB;
  box-shadow: 3px 3px #EBEBEB2E;
  padding-left: 40px;
}
.button button{
  background-color:#575DA6;
  color: #FAFAFC;
  height: 35px;
}
.announcement{
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.each-announcement{
  background-color: #FFFFFF;
  border:2px solid #F6F8FB;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 0px 5px 0px;
  width: 100%;
}
.each-announcement .allAnnouncements{
  display: flex;
}
a{
  cursor: pointer;
}
.URGENT{
  color: #FC0000;
  background-color:#FFEEEE;
}
.MEDIUM{
  color: #FCA700;
  background-color:#FFF9EE;
}
.NORMAL{
  color: #30D000;
  background-color: #d9f3e2;
}
.upcoming{
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
.upcometabs{
  background-color: #FFFFFF;
  padding: 5px;
}
.pills{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 15px;
  width: 100px;
}
.starts{
  width: 100%;
  max-width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-details button{
  margin-top: 10px;
}
.fa-edit{
  background: #575DA6;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.edit,.delete{
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  align-items: center;
  margin-top: 10px;
}
.fa-trash-o{
  cursor: pointer;
  padding: 10px;
  background-color:#F9265F;
  color: white;
  border-radius: 10px;
}
.tabs ul li a{
  text-decoration: none;
}
@media(max-width:760px){
  .each-announcement{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .pills{
    width: 100%;
  }
}
@media(max-width:400px){
  .second-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .second-header .interface{
    background-color: #FFFFFF;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    top: -2px;
  }
}